/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* imported font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --orange: #eb8c0f;
    }
    
/* background image */

#body1 {
    background-image: url(images/bread.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 150px;
    background-size: contain;
  }

section {
    background-image: url("images/bread.jpg");
    width: 100%;
}

    
/* iframes*/

iframe{      
    display: block;  /* iframes are inline by default */   
    width: 100vw;  /* Set width to 100% of the viewport width */     
    border: none; /* Remove default border */
    }


    /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--orange);
    /*box-shadow: 1px 1px 5px 0px var(--gray);*/
    position: sticky;
    top: 0;
    width: 100%;
}


h3, h4 {
    text-align: center;
}
h2 {
    text-align: center;
}
h4 {
    color: red;
}

h3,h4, p{
    margin: 0;  /* if there is margin*/
    padding:0;  /* if there is padding*/
    line-height: 18px !important; /* you should set line height according to your requirement.*/
 }
 p{
    font-size: 14px;
 }


#identified {
    text-align: center;
}
#identified1 {
    text-align: left;
}
#identified2 {
    text-align: right;
}
#identified3 {
    color: red;
}
#identified4 {
    padding-left: 10%;
    padding-right: 10%;
}
#identified5 {
    text-align: right;
    padding-right: 10%;
}



/* buttom for staff login and main page */
button {
    display: block;
    width: 100px;
    margin: 0 auto;
}

/* Create two equal columns that float next to each other */
.columnheader {
    float: left;
    text-align: center;
    background-color: orange;
    padding: 25px;
    border: 5px solid orange;
    }


/* Clear floats after the columns */
.rowheader:after {
    content: "";
    display: table;
    clear: both;
}



/* Logo */
.logo{
    display: inline-block;
    color: var(--black);
    font-size: 34px;
    margin-left: 5px;
}

.menu a{
    display: block;
    padding: 20px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 965px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}

.rowpic {
    overflow: hidden;
    background-color: white;
}

.pic {
    background-color: grey;
    text-align: center;
    padding: 0;
    
}



/* grey line for text */
.line {
    overflow: hidden;
    background-color: grey;
}

/* Style images on menu */
* {
    box-sizing: border-box;
  }

  .picone {
    float: left;
    width: 48%; /* The width is 48% */
  }
  
  .pictwo {
    float: left;
    width: 2%; /* The width is 2% */
  }
  .picthree {
    float: left;
    width: 2%; /* The width is 2% */
  }
  
  .picfour {
    float: right;
    width: 48%; /* The width is 48% */
  }

  

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
    .picone, .pictwo, .picthree, .picfour {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }



/* Style the buttons */

.b1 {
    float: left;
    width: 25%; /* The width is 40%, by default */
  }
  
  .b2 {
    float: left;
    width: 25%; /* The width is 20%, by default */
  }
  .b3 {
    float: left;
    width: 25%; /* The width is 40%, by default */
  }
  
  .b4 {
    float: left;
    width: 25%; /* The width is 20%, by default */
  }

  

/* Use a media query to add a break point at 460px: */
@media screen and (max-width: 460px) {
    .b1, .b2, .b3, .b4 {
      width: 100%; /* The width is 100%, when the viewport is 460px or smaller */
    }
  }

.rowbutton {
    overflow: hidden;
    }


.bbutton {
    
    text-align: center;
    padding: 0;
    
}


/* Style the footer */

.one {
    float: left;
    width: 25%; /* The width is 40%, by default */
  }
  
  .two {
    float: left;
    width: 25%; /* The width is 20%, by default */
  }
  .three {
    float: left;
    width: 25%; /* The width is 40%, by default */
  }
  
  .four {
    float: left;
    width: 25%; /* The width is 20%, by default */
  }

  

/* Use a media query to add a break point at 560px: */
@media screen and (max-width: 560px) {
    .one, .two, .three, .four {
      width: 100%; /* The width is 100%, when the viewport is 560px or smaller */
    }
  }

.rowfooter {
    overflow: hidden;
    background-color: grey;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 0;
    
}